{% assign productId = product.id | downcase %}
{% assign productNotCopied = false %}
{% if product.metafields.BackOffice.ProductId == blank or product.metafields.BackOffice.ProductId == productId %}
	{% assign productNotCopied = true %}
{% endif %}
{% if product.metafields.BackOffice.CustomersCanvasLinked and productNotCopied %}

  <button id="AddToCart-{{ section.id }}" type="button" target="cc-editor-button" class="btn add-to-cart" style="color:white"
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
    
    <span id="AddToCartText-{{ section.id }}">
      {% unless current_variant.available %}
      	{{ 'products.product.sold_out' | t }}
      {% else %}
      	{{ 'Design product' }}
      {% endunless %}
    </span>
  </button>

{% else %}

  <button id="AddToCart-{{ section.id }}" type="submit" name="add"
          {% unless current_variant.available %}disabled="disabled"{% endunless %}
          class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
    
    <span id="AddToCartText-{{ section.id }}">
      {% unless current_variant.available %}
      	{{ 'products.product.sold_out' | t }}
      {% else %}
      	{{ 'products.product.add_to_cart' | t }}
      {% endunless %}
    </span>
  </button>

  {% if section.settings.enable_payment_button %}
  	{{ form | payment_button }}
  {% endif %}

{% endif %} 