{% paginate customer.orders by 20 %}
{% assign draw_name = 'Porsche 1978 Draw' %}
{% assign draw_date = '15/12/2022' %}
{% style %}
  .accum-total{
    margin-top:1em;
  }
  .accum-total tr td:nth-child(1){
    background:#000;
    color:white;
  }
  .accum-total .number{
    display:grid;
    place-items:center;
  }
  .contact-info{
    display: grid;
    padding: 2em 0;
    font-size: 1.2em;
  }
  #no-underline>a,#no-underline>a:after{
    border: none!important;
  }
  .view-entries{
    text-decoration: underline;
    cursor: pointer;
  }
  dialog::backdrop{
    background:rgba(0,0,0,0.7);
  }
  .entry-modal .inner{
    padding:50px 30px;
    position:relative;
    display:grid;
    place-items:center;
  }
  .entry-modal h3{
    text-align:center;
  }
  .closeDialog{
    position:absolute;
    top:0;
    right:0;
  }
  .discount-row{
    background:black;
    color:white;
  }
{% endstyle %}
<div class="page-width page-content customers">
  <header class="section-header">
    <h1 class="section-header__title">
      {{ 'customer.account.title' | t }}
    </h1>
    <div class="section-header__description">
      {{ 'layout.customer.log_out'| t | customer_logout_link }}
    </div>
  </header>

  <div class="grid">

    <div id="no-underline" class="grid__item medium-up--three-quarters">
        <a href="https://www.motateam.com/pages/member-benefits" class="no-underline">
          <button class="btn" style="padding: 2px 20px;margin-bottom:20px;">Shop Benefits</button>
        </a>
  
      <h2 class="h3">Ticket History</h2>
      {%- if customer.orders.size != 0 -%}

        <table class="full table--responsive">
          <thead>
            <tr>
              {% comment %}<th>{{ 'customer.orders.order_number' | t }}</th>{% endcomment %}
              <th>Order #</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              {% comment %}<th>{{ 'customer.orders.fulfillment_status' | t }}</th>{% endcomment %}
              <th>Product</th>
              <th>Entries Purchased</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% assign total_entries = 0 %}
            {% assign highest_membership = blank %}
            {%- for order in customer.orders -%}
              {% assign part_entries = 0 %}
              <tr class="table__section{% if order.discount_applications.title == "DOUBLE" %} discount-row{% endif %}">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                {% comment %}<td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>{% endcomment %}
                <td data-label="Product">
                  {% assign entryCount = 0 %}
                  {% for line_item in order.line_items%}
                     {{ line_item.product.title }}
                     {% case line_item.product.title %}
                      {% when "ENTRY" %}
                        {% assign part_entries = part_entries | plus: 1 %}
                        {% assign entryCount = 1 %}
                        {% if highest_membership != 'Premium' and highest_membership != 'Elite' %}
                          
                          {% assign highest_membership = "Entry" %}
                          {% assign bonus_count = 5 %}
                          {% assign bonus_color = '#D4AD40' %}
                          {% assign bonus_order = order.name %}
                        {% endif %}
                      {% when "BRONZE PACKAGE" %}
                        {% assign part_entries = part_entries | plus: 1 %}
                        {% assign entryCount = 1 %}
                      {% when "PREMIUM" %}
                        {% assign part_entries = part_entries | plus: 3 %}
                        {% assign entryCount = 3 %}
                        {% if highest_membership != 'Elite' %}
                          {% assign highest_membership = "Premium" %}
                          {% assign bonus_count = 10 %}
                          {% assign bonus_color = '#C5CED4' %}
                          {% assign bonus_order = order.name %}
                        {% endif %}
                      {% when 5000 %}
                          {% assign part_entries = part_entries | plus: 3  %}
                          {% assign entryCount = 3 %}
                      {% when "ELITE" %}
                        {% assign part_entries = part_entries | plus: 10  %}
                        {% assign entryCount = 10 %}
                        {% assign highest_membership = "Elite" %}
                        {% assign bonus_count = 25 %}
                        {% assign bonus_color = '#CCB700' %}
                       {% assign bonus_order = order.name %}
                      {% when "GOLD PACKAGE" %}
                          {% assign part_entries = part_entries | plus: 10  %}
                          {% assign entryCount = 10 %}
                      {% when "PLATINUM PACKAGE" %}
                          {% assign part_entries = part_entries | plus: 30  %}
                          {% assign entryCount = 30 %}
                      {% when "DIAMOND PACKAGE" %}
                          {% assign part_entries = part_entries | plus: 80  %}
                          {% assign entryCount = 80 %}
                      {% when 100000 %}
                          {% assign part_entries = part_entries | plus: 200  %}
                          {% assign entryCount = 200 %}
                      {% else %}
                    {% endcase %}
                  {% endfor %}
                </td>
              {% if order.discount_applications.title == "DOUBLE" %}
                {% assign entryCount = entryCount | times: 2 %}
              {% endif %}
                <td data-label="Entries Purchased">
                  <button type="button" class="view-entries">{{ part_entries }} - View Tickets</button>
                  <dialog class="entry-modal">
                    <div class="inner">
                      <button type="button" class="btn btn--tertiary btn--circle modal__close closeDialog text-link">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
                        <span class="icon__fallback-text">Close (esc)</span>
                      </button>
                      <h3>Tickets for {{ order.created_at | time_tag: format: 'date' }}</h3>
                      {% for counter in (1..entryCount) %}
                        <span>{{ order.name | append: "-" | append: counter }}</span>
                      {% endfor %}
                    </div>
                  </dialog>
                </td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
              {% assign total_entries = total_entries | plus: part_entries  %}
            {%- endfor -%}
          </tbody>
        </table>
        <table class="full table--responsive accum-total">
          {% unless highest_membership == blank %}
            <tr class="table__section">
              <td colspan="4" style="background:{{ bonus_color }}">Bonus Entries for your {{ highest_membership }} membership </td>
              <td style="background:{{ bonus_color }};text-align:center;">
                  <button type="button" class="view-entries" style="color:white;">View Tickets</button>
                  <dialog class="entry-modal">
                    <div class="inner">
                      <button type="button" class="btn btn--tertiary btn--circle modal__close closeDialog text-link">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
                        <span class="icon__fallback-text">Close (esc)</span>
                      </button>
                      <h3>Bonus Entry Tickets</h3>
                      {% for Bcounter in (1..bonus_count) %}
                        <span>{{ bonus_order | append: "-B" | append: Bcounter }}</span>
                      {% endfor %}
                    </div>
                  </dialog>
                </td>
              <td><div class="number"><b>{{ bonus_count }}</b></div></td>
            </tr>
            {% assign total_entries = total_entries | plus: bonus_count  %}
          {% endunless %}
            <tr class="table__section">
              <td colspan="5">Your current total Accumulated Entries for the {{ draw_name }} - {{ draw_date }} </td>
              <td><div class="number"><b>{{ total_entries }}</b></div></td>
            </tr>
        </table>
        <div class="contact-info">
          <p>If you have any questions about your account, membership or the draw, you can chat with the Mota Team at: </p>
          <span>PHONE: <a href="tel:0383190984">(03) 8319 0984</a></span>
          <span>EMAIL: <a href="mailto:info@motateam.com">info@motateam.com</a></span>
        </div>
        <hr class="hr--clear">

      {%- else -%}

        <p>{{ 'customer.orders.none' | t }}</p>

      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-quarter">
      <h3>{{ 'customer.account.details' | t }}</h3>

      <p class="h5">{{ customer.name }}</p>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}
</div>
{% endpaginate %}
<script>
  const viewBtns = document.querySelectorAll('.view-entries')
  viewBtns.forEach(elem=>{
    elem.addEventListener('click',function(){showDialog(this)})
  })
  function showDialog(elem){
    elem.nextElementSibling.showModal();
  }
  const closeBtns = document.querySelectorAll('.closeDialog')
  closeBtns.forEach(e=>{
    e.addEventListener('click',el=>{closeDialog(e)})
  })
  function closeDialog(e){
    e.closest('dialog').close();
  }
</script>