{% paginate customer.orders by 20 %}
{% assign draw_name = 'Porsche 1978 Draw' %}
{% assign draw_date = '15/12/2022' %}
{% style %}
  .accum-total{
    margin-top:1em;
  }
  .accum-total tr td:nth-child(1){
    background:#000;
    color:white;
  }
  .accum-total tr td:nth-child(2){
    display:grid;
    place-items:center;
  }
  .contact-info{
    display: grid;
    padding: 2em 0;
    font-size: 1.2em;
  }
  #no-underline>a,#no-underline>a:after{
    border: none!important;
  }
  .view-entries{
    text-decoration: underline;
    cursor: pointer;
  }
  .entry-modal{
    display:none;
    place-items:center;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.7);
  }
  .entry-modal .inner{
    background:white;
  }
{% endstyle %}
<div class="page-width page-content customers">
  <header class="section-header">
    <h1 class="section-header__title">
      {{ 'customer.account.title' | t }}
    </h1>
    <div class="section-header__description">
      {{ 'layout.customer.log_out'| t | customer_logout_link }}
    </div>
  </header>

  <div class="grid">

    <div id="no-underline" class="grid__item medium-up--two-thirds">
        <a href="https://www.motateam.com/pages/member-benefits" class="no-underline">
          <button class="btn" style="padding: 2px 20px">Shop Benefits</button>
        </a>
  
      <h2 class="h3">Ticket History</h2>
      {%- if customer.orders.size != 0 -%}

        <table class="full table--responsive">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              {% comment %}<th>{{ 'customer.orders.fulfillment_status' | t }}</th>{% endcomment %}
              <th>Product</th>
              <th>Entries Purchased</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% assign total_entries = 0 %}
            {%- for order in customer.orders -%}
              {% assign part_entries = 0 %}
              <tr class="table__section">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                {% comment %}<td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>{% endcomment %}
                <td data-label="Product">
                    {% assign entryCount = 0 %}
                    {% for line_item in order.line_items%}
                       {{ line_item.product.title }}
                       {% case line_item.product.price %}
                        {% when 1995 %}
                            {% assign part_entries = part_entries | plus: 1 %}
                            {% assign entryCount = 1 %}
                        {% when 2500 %}
                            {% assign part_entries = part_entries | plus: 1 %}
                            {% assign entryCount = 1 %}
                        {% when 3900 %}
                            {% assign part_entries = part_entries | plus: 3 %}
                            {% assign entryCount = 3 %}
                        {% when 5000 %}
                            {% assign part_entries = part_entries | plus: 3  %}
                            {% assign entryCount = 3 %}
                        {% when 8995 %}
                            {% assign part_entries = part_entries | plus: 10  %}
                            {% assign entryCount = 10 %}
                        {% when 10000 %}
                            {% assign part_entries = part_entries | plus: 10  %}
                            {% assign entryCount = 10 %}
                        {% when 25000 %}
                            {% assign part_entries = part_entries | plus: 30  %}
                            {% assign entryCount = 30 %}
                        {% when 50000 %}
                            {% assign part_entries = part_entries | plus: 80  %}
                            {% assign entryCount = 80 %}
                        {% when 100000 %}
                            {% assign part_entries = part_entries | plus: 200  %}
                            {% assign entryCount = 200 %}
                        {% else %}
                      {% endcase %}
                    {% endfor %}
                </td>
                <td data-label="Entries Purchased">
                  {{ part_entries }}<br>
                  <span class="view-entries">View Entries</span>
                  <div class="entry-modal">
                    <div class="inner">
                      {% for counter in (1..entryCount) %}
                        {{ order.name | append: "-" | append: counter }}
                      {% endfor %}
                    </div>
                  </div>
                </td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
              {% assign total_entries = total_entries | plus: part_entries  %}
            {%- endfor -%}
          </tbody>
        </table>
        <table class="full table--responsive accum-total">
            <tr class="table__section">
              <td colspan="5">Your current total Accumulated Entries for the {{ draw_name }} - {{ draw_date }} </td>
              <td><b>{{ total_entries }}</b></td>
            </tr>
        </table>
        <div class="contact-info">
          <p>If you have any questions about your account, membership or the draw, you can chat with the Mota Team at: </p>
          <span>PHONE: <a href="tel:0383190984">(03) 8319 0984</a></span>
          <span>EMAIL: <a href="mailto:info@motateam.com">info@motateam.com</a></span>
        </div>
        <hr class="hr--clear">

      {%- else -%}

        <p>{{ 'customer.orders.none' | t }}</p>

      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-third">
      <h3>{{ 'customer.account.details' | t }}</h3>

      <p class="h5">{{ customer.name }}</p>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>

  </div>
<script>
  const viewBtns = document.querySelectorAll('.view-entries');
  if(viewBtns.length>0){
    const toggleView = elem=>{
      console.log(elem)
    }
    viewBtns.forEach(elem=>{
      console.log("this far")
      console.log(elem)
      elem.addEventListener("click", btn => console.log(btn))
    })
    
  }  



</script>
  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}
</div>
{% endpaginate %}
